.dropdownMenu {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 10px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .searchInput {
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .optionsList {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 250px;
    overflow-y: auto;
  }
  
  .option {
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .option:hover {
    background-color: #f0f0f0;
  }
  
  .addOption {
    padding: 8px;
    color: #007bff;
    cursor: pointer;
    font-style: italic;
  }
  
  .addOption:hover {
    text-decoration: underline;
  }
  
  .addVariableContainer {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .newVariableInput {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    margin-top: auto;
    cursor: pointer;
    color: #007bff;
  }
  
  .typeSelect {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .addButton {
    padding: 8px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .addButton:hover {
    background-color: #0056b3;
  }

  .inputWrapper{
    position: relative;
  }
  